<div class="GrainBazarHeader">
    <h1>Grain Baazar</h1>
    <span>Last Updated:
        <strong>12th Jan</strong>
    </span>
    <div class="currency">
        <span class="pkr">PKR</span>
        <span class="pkrus">PKR-US $</span>
        <span class="us">US $</span>
    </div>
</div>

<div class="Packeges">
    <div class="MainTop">
        <div class="Left">
            <div class="rskb">
                <span class="Heading">RSKB</span>
                <span>Red Speckled</span>
                <span>Kidney Beans</span>
            </div>
            <div class="flag">
                <img src="https://lipis.github.io/flag-icon-css/flags/4x3/mm.svg" alt=""> Myanmar
            </div>
        </div>
        <div class="horizontalLine">
        </div>
        <div class="LocalInternational">
            <div class="LocalInter">
                <span class="name">Local</span>
                <span>PKR
                    <strong>470</strong>/kg</span>
                <span class="positive">+ 0.63</span>
            </div>
            <div class="LocalInter">
                <span class="name">International</span>
                <span>US$
                    <strong>470</strong>/MT</span>
                <span class="negative">- 0.63</span>
            </div>
        </div>
        <div class="arrow">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="Main">
        <div class="Left">
            <div class="rskb">
                <span class="Heading">BMP</span>
                <span>Black Matpe</span>
            </div>
            <div class="flag">
                <img src="https://lipis.github.io/flag-icon-css/flags/4x3/mm.svg" alt=""> Myanmar
            </div>
        </div>
        <div class="horizontalLine">
        </div>
        <div class="LocalInternational">
            <div class="LocalInter">
                <span class="name">Local</span>
                <span>PKR
                    <strong>470</strong>/kg</span>
                <span class="positive">+ 0.63</span>
            </div>
            <div class="LocalInter">
                <span class="name">International</span>
                <span>US$
                    <strong>470</strong>/MT</span>
                <span class="negative">- 0.63</span>
            </div>
        </div>
        <div class="arrow">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="Main">
        <div class="Left">
            <div class="rskb">
                <span class="Heading">RSKB</span>
                <span>Red Speckled</span>
                <span>Kidney Beans</span>
            </div>
            <div class="flag">
                <img src="https://lipis.github.io/flag-icon-css/flags/4x3/mm.svg" alt=""> Myanmar
            </div>
        </div>
        <div class="horizontalLine">
        </div>
        <div class="LocalInternational">
            <div class="LocalInter">
                <span class="name">Local</span>
                <span>PKR
                    <strong>470</strong>/kg</span>
                <span class="positive">+ 0.63</span>
            </div>
            <div class="LocalInter">
                <span class="name">International</span>
                <span>US$
                    <strong>470</strong>/MT</span>
                <span class="negative">- 0.63</span>
            </div>
        </div>
        <div class="arrow">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="Main">
        <div class="Left">
            <div class="rskb">
                <span class="Heading">RSKB</span>
                <span>Red Speckled</span>
                <span>Kidney Beans</span>
            </div>
            <div class="flag">
                <img src="https://lipis.github.io/flag-icon-css/flags/4x3/mm.svg" alt=""> Myanmar
            </div>
        </div>
        <div class="horizontalLine">
        </div>
        <div class="LocalInternational">
            <div class="LocalInter">
                <span class="name">Local</span>
                <span>PKR
                    <strong>470</strong>/kg</span>
                <span class="positive">+ 0.63</span>
            </div>
            <div class="LocalInter">
                <span class="name">International</span>
                <span>US$
                    <strong>470</strong>/MT</span>
                <span class="negative">- 0.63</span>
            </div>
        </div>
        <div class="arrow">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="Main">
        <div class="Left">
            <div class="rskb">
                <span class="Heading">RSKB</span>
                <span>Red Speckled</span>
                <span>Kidney Beans</span>
            </div>
            <div class="flag">
                <img src="https://lipis.github.io/flag-icon-css/flags/4x3/mm.svg" alt=""> Myanmar
            </div>
        </div>
        <div class="horizontalLine">
        </div>
        <div class="LocalInternational">
            <div class="LocalInter">
                <span class="name">Local</span>
                <span>PKR
                    <strong>470</strong>/kg</span>
                <span class="positive">+ 0.63</span>
            </div>
            <div class="LocalInter">
                <span class="name">International</span>
                <span>US$
                    <strong>470</strong>/MT</span>
                <span class="negative">- 0.63</span>
            </div>
        </div>
        <div class="arrow">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</div>