<div class="MainHeader">
    <i class="fa fa-times" routerLink="/profile"></i>
    <span>Edit Profile</span>
</div>
<div class="Body">
    <div class="LabelField">
        <span>Full Name</span>
        <div class="field">
            Patrik Hardy
        </div>
    </div>
    <div class="LabelField">
        <span>Company</span>
        <div class="field">
            Qubolt LLC
        </div>
    </div>
    <div class="LabelField">
        <span>Designation</span>
        <div class="field">
            UI/UX Engineer
        </div>
    </div>
    <div class="LabelField">
        <span>Email</span>
        <div class="field">
            patrik.hardy@gmail.com
        </div>
    </div>
    <div class="LabelField">
        <span>Password</span>
        <div class="field">
            ************
        </div>
    </div>
    <div class="Button">
        <button mat-button>SAVE</button>
    </div>
</div>