<div class="MainHeader">
  <i class="fa fa-times" routerLink="/"></i>
  <span>Filters</span>
</div>
<div class="ListBody">
  <div class="List">
    <div class="ListItems">
      <div class="Item">
        <span> Relevance </span>
        <span>
          <i class="fa fa-check"></i>
        </span>
      </div>
      <div class="Item">
        <span> Date </span>
      </div>
      <div class="Item">
        <span> Audio </span>
      </div>
      <div class="Item">
        <span> Video </span>
      </div>
      <div class="Item">
        <span> Any Other Filter </span>
      </div>
    </div>
  </div>
</div>
<div class="Button">
  <button mat-button>SAVE</button>
</div>