<div class="MainHeader">
    <i class="fa fa-arrow-left" routerLink="/"></i>
    <span>Red Speckled Kidney Beans</span>
</div>
<div class="RKSBS">
    <div class="Top">
        <div class="rskb">
            <span class="Heading">RSKB</span>
            <span>Red Speckled Kidney Beans</span>
        </div>
        <div class="flag">
            <img src="https://lipis.github.io/flag-icon-css/flags/4x3/mm.svg" alt=""> Myanmar
        </div>
    </div>
    <div class="LocalInternational">
        <div class="LocalInter">
            <span class="name">Local</span>
            <h2>470.01</h2>
            <span>PKR/kg</span>
            <span class="positive">+ 0.63</span>
        </div>
        <div class="LocalInter">
            <span class="name">International</span>
            <h2>700.02</h2>
            <span>US$/MT</span>
            <span class="negative">- 0.63</span>
        </div>
    </div>
    <div class="Graph">
        <div>
            <span>GRAPH COMES HERE</span>
        </div>
    </div>
    <div class="Pricing">
        <h5>Import Volume</h5>
        <div class="Items">
            <div class="ItemLeft">
                <span>1 week</span>
                <span>1 month</span>
                <span>3 months</span>
                <span>6 months</span>
                <span>1 year</span>
            </div>
            <div class="ItemRight">
                <span>
                    <strong>28 FCL</strong>
                </span>
                <span>
                    <strong>102 FCL</strong>
                </span>
                <span>
                    <strong>312 FCL</strong>
                </span>
                <span>
                    <strong>642 FCL</strong>
                </span>
                <span>
                    <strong>1209 FCL</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="Pricing">
        <h5>52 week price range</h5>
        <div class="Items">
            <div class="ItemLeft">
                <span>Local (PKR/kg)</span>
                <span>International (US$/MT)</span>
            </div>
            <div class="ItemRight">
                <span>
                    <strong>42 - 56</strong>
                </span>
                <span>
                    <strong>42 - 56</strong>
                </span>
            </div>
        </div>
    </div>
</div>