<div class="MainHeader">
    <i class="fa fa-arrow-left" routerLink="/grainbazar"></i>
    <span>{{PricingDetails.daalname.full}}</span>
</div>
<div class="RKSBS">
    <div class="Top">
        <div class="rskb">
            <span class="Heading">{{PricingDetails.daalname.name}}</span>
            <span>{{PricingDetails.daalname.full}}</span>
        </div>
        <div class="flag">
            <img src="{{PricingDetails.flagUrl}}" alt=""> {{PricingDetails.origin}}
        </div>
    </div>
    <div class="LocalInternational">
        <div class="LocalInter">
            <span class="name">Local</span>
            <h2>{{PricingDetails.localPrice}}</h2>
            <span>PKR/kg</span>
            <span class="positive">+ {{PricingDetails.localVar}}</span>
        </div>
        <div class="LocalInter">
            <span class="name">International</span>
            <h2>{{PricingDetails.internationalPrice}}</h2>
            <span>US$/MT</span>
            <span class="negative">{{PricingDetails.internationalVar}}</span>
        </div>
    </div>
    <div class="Graph">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="one">
                <canvas id="myChart" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="Pricing">
        <h5>Import Volume</h5>
        <div class="Items">
            <div class="ItemLeft">
                <span>Today</span>
                <span>1 Week</span>
                <span>1 Month</span>
                <!-- <span>6 months</span>
                <span>1 year</span> -->
            </div>
            <div class="ItemRight">
                <span>
                    <strong>{{PricingDetails.manifest_today.fcl}} FCL</strong>
                </span>
                <span>
                    <strong>{{PricingDetails.manifest_week.fcl}} FCL</strong>
                </span>
                <span>
                    <strong>{{PricingDetails.manifest_month.fcl}} FCL</strong>
                </span>
                <!-- <span>
                    <strong>312 FCL</strong>
                </span>
                <span>
                    <strong>642 FCL</strong>
                </span>
                <span>
                    <strong>1209 FCL</strong>
                </span> -->
            </div>
        </div>
    </div>
    <div class="Pricing">
        <h5>52 week price range</h5>
        <div class="Items">
            <div class="ItemLeft">
                <span>Local (PKR/kg)</span>
                <span>International (US$/MT)</span>
            </div>
            <div class="ItemRight">
                <span>
                    <strong>{{PricingDetails.localPrice}} - {{PricingDetails.internationalPricePKR}}</strong>
                </span>
                <span>
                    <strong>{{PricingDetails.localPrice}} - {{PricingDetails.internationalPrice}}</strong>
                </span>
            </div>
        </div>
    </div>
</div>