<div class="SearchBar">
    <span class="field">
        <input type="text" placeholder="Search..">
    </span>
    <i class="fa fa-filter"></i>
</div>
<div class="AllCards">
    <div *ngFor="let post of posts; index as i">
        <div class="Card">
            <div class="Header">
                <div class="Avator">
                    <img src="http://grainmarket.qubolt.com/uploads/users/kSuF2xlFZi.jpeg" alt="" class="Image">
                    <div class="detail">
                        <span>{{post.author.fname}} {{post.author.lname}}</span>
                        <span style="font-size: 12px;">{{post.author.company}}</span>
                    </div>
                </div>
                <div class="TimeandPinSection">
                    <div class="DateTime">
                        <span>{{post.create_date}}</span>
                        <!-- <span>{{post.create_date | date: 'h:mm a'}}</span> -->
                    </div>
                    <span class="VerticalLine"></span>
                    <i class="fa fa-paperclip"></i>
                </div>
            </div>
            <hr>
            <div class="Post">
                <span>{{post.text}}</span>
                <br>
                <span>
                    <audio class="audioo" controls>
                        <source [src]="audio[i]" type="audio/webm"> Your browser does not support the audio element.
                    </audio>
                </span>
            </div>
            <hr>
            <div class="CommentSection">
                <div class="LikeShare">
                    <span>{{post.likes}} Likes - <button class="comments" (click)="viewComments(post)">{{post.comments.length}}
                            Comments</button></span>
                </div>
                <div class="commentInput">
                    <span class="field">
                        <input type="text" placeholder="Write comment..">
                    </span>
                    <i class="far fa-heart"></i>
                    <i class="fa fa-share-square"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Fab" routerLink="newpost">
    <i class="fa fa-plus"></i>
</div>