<div>
    <router-outlet></router-outlet>
</div>

<div class="FooterTabs">
    <div class="NavItem" routerLink="/grainbazar" routerLinkActive="active">
        <!-- <i class="fa fa-home"></i> -->
        <img src="https://image.flaticon.com/icons/svg/149/149064.svg" width="25px" alt="">
        <span>Home</span>
    </div>
    <div class="NavItem" routerLink="/manifest" routerLinkActive="active">
        <!-- <i class="fa fa-cog"></i> -->
        <img src="https://image.flaticon.com/icons/svg/240/240655.svg" width="25px" alt="">
        <span>Manifest</span>
    </div>
    <div class="NavItem" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <!-- <i class="fa fa-code-branch"></i> -->
        <img src="../../../assets/img/feed.ico" width="25px" alt="">
        <span>Feed</span>
    </div>
    <div class="NavItem" routerLink="/blogs" routerLinkActive="active">
        <!-- <i class="fa fa-clipboard-list"></i> -->
        <img src="https://image.flaticon.com/icons/svg/1162/1162251.svg" width="25px" alt="">
        <span>Research</span>
    </div>
    <div class="NavItem" routerLink="/profile" routerLinkActive="active">
        <i class="far fa-user"></i>
        <span>Profile</span>
    </div>
</div>